[project]
	description = Algorithm::Evolutionary, Perl module for evolutionary algorithms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juan Julián Merelo Guervós (JJ)
[access "refs/for/refs/*"]
	read = group user/Juan Julián Merelo Guervós (JJ)
	push = group user/Juan Julián Merelo Guervós (JJ)
	label-Code-Review = -2..+2 group user/Juan Julián Merelo Guervós (JJ)
	label-Verified = -1..+1 group user/Juan Julián Merelo Guervós (JJ)
	rebase = group user/Juan Julián Merelo Guervós (JJ)
	removeReviewer = group user/Juan Julián Merelo Guervós (JJ)
	submit = group user/Juan Julián Merelo Guervós (JJ)
[access "refs/heads/*"]
	read = group user/Juan Julián Merelo Guervós (JJ)
	create = group user/Juan Julián Merelo Guervós (JJ)
	push = +force group user/Juan Julián Merelo Guervós (JJ)
	pushMerge = group user/Juan Julián Merelo Guervós (JJ)
[access "refs/tags/*"]
	push = +force group user/Juan Julián Merelo Guervós (JJ)
	pushTag = group user/Juan Julián Merelo Guervós (JJ)
	pushSignedTag = group user/Juan Julián Merelo Guervós (JJ)
